.Card {
  margin: 8px;
  position: relative;
  border-radius: 2px;
  overflow:  hidden;
  background-color: #fafafa;
  height: 180px;
  width: 130px;
  transition: box-shadow .25s;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

  &-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;

    p {
      margin: 0;
      padding: 0;
    }
  }

  &-title {
    line-height: 10px;
    font-size: 18px;
    font-weight: 300;
  }

  &-image {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 130px;
    width: 100%;
  }
}